/* apply a natural box layout model to all elements, but allowing components to change */
html {
box-sizing: border-box;
}
*, *:before, *:after {
box-sizing: inherit;
}

html, body{
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.1);
    font-size: 20px;
}

.trivia-box {
    height: 80%;
    width: 100%;
    background-color: orange;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.question,
.answers,
.buttons {
    height: 30%;
    width: 50%;
    background-color: green;
    margin-left: 25%;
    margin-right: 25%;
}

.answers {
    background-color: beige;
    border: 5px solid black;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.buttonA {
    height:25%;
    width: 100%;
    background: cyan;
    display: flex;
    /* flex-direction: row; */
    justify-content: flex-start;
    /* margin: 25%; */
}
.buttonB {
    height:25%;
    width: 100%;
    display: flex;
    /* flex-direction: row; */
    justify-content: flex-start;
}
.buttonC {
    height:25%;
    width: 100%;
    display: flex;
    /* flex-direction: row; */
    justify-content: flex-start;
}
.buttonD {
    height:25%;
    width: 100%;
    display: flex;
    /* flex-direction: row; */
    justify-content: flex-start;
}

.Enter {
    height: 20%;
    width: 20;
    align-self: flex-end;
}




.title {
    height: 10%;
    width: 100%;
    background-color: blue;
    display: flex;
    flex-direction: center;
}

.selector {
    height: 10%;
    width: 75%;
}
