/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
box-sizing: inherit;
}

html, body{
    height: 100%;
    width: 100%;
    font-size: 20px;
    background-color: black;
}

/*===========
this is the select category box, dropdown menu on webpage
==========*/

.select-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 10px;
    background-color: black;
}

.headTitle {
    text-align: center;
    font-style: italic;
    color: white;
}

.trivia-box {
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-image: url("https://picsum.photos/700/800/?random");
}

.questionAndScore {
    display: flex;
    margin-top: 8px;
}

.question {
    min-height: 100px;
    max-height: 200px;
    width: 50%;
    margin-left: 25%;
    margin-right: 10%;
    padding: 5px;
    display: inline-block;
    text-align: center;
    font-size: 125%;
    border: 5px solid black;
    border-radius: 15px;
    background: rgba(204, 204, 204, 0.8);
}


.score {
    height: 95px;
    width: 10%;
    margin-right: 5%;
    display: inline-block;
    text-align: center;
    border: 3px solid black;
    border-radius: 15px;
    background: rgba(204, 204, 204, 0.9);
}

.displayScore {
    height: 50px;
    width: 50%;
    margin-right: 25%;
    margin-left: 25%;
    padding-top: 12px;
    text-align: center;
    font-size: 30px;
}

.displayAnswers {
    height: 100px;
    width: 50%;
    margin-top: 5%;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
    font-size: 120%;
    background: rgba(204, 204, 204, 0.8);
    border-radius: 15px;
    border: 5px solid black;
}

.showAnswers {
    height: 35px;
    width: 50%;
    margin-top: 5px;
    margin-left: 25%;
    border-radius: 15px;
    text-align: center;
    font-size: 30px;
}

.answers {
    height: 280px;
    width: 50%;
    margin-top: 1%;
    margin-left: 25%;
    margin-right: 25%;
    padding: 5px;
    border: 5px solid black;
    border-radius: 15px;
    background: rgba(204, 204, 204, 0.8);
}

.buttonA,
.buttonB,
.buttonC,
.buttonD {
    height: 53px;
    margin: 5px;
    padding:15px 25px;
    outline: none;
    transition: 0.3s;
    text-align: center;
    font-size: 20px;
    background: rgba(250, 250, 250, 0.8);
    color: black;
    border-radius: 15px;
    border: 5px solid black;
}

.buttonA:hover,
.buttonB:hover,
.buttonC:hover,
.buttonD:hover {
    cursor: pointer;
    border-radius: 15px;
    color: black;
    background-color: rgba(255, 68, 0, 0.75);
}

.buttonA:active, 
.buttonB:active, 
.buttonC:active, 
.buttonD:active {
    transform: translateY(4px);
}

.submitButton {
    width: 25%;
    margin-left: 37%;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    font-size: 15px;
    border-radius: 15px;
    transition: 0.3s;
    color: white;
    background-color: black;
}

.submitButton:hover {
    opacity: 0.5;
    cursor: pointer;
}


.category,
.level,
.newQuestion {
    display: inline-block;
    transition: 0.3s;
    text-decoration: none;
    text-align: center;
    font-size: 15px;
    border-radius: 15px;
    border-color: white;
    color: white;
    background-color: black;
}

.category:hover,
.level:hover,
.newQuestion:hover {
    opacity: 0.8;
    cursor: pointer;
}


@media screen and (max-height:685px) {
    html, 
    body {
        overflow-y: scroll;
        min-height: 800px;
    }
}

@media screen and (max-width: 768px) {

    html, 
    body {
        overflow-y: scroll;
        min-height: 800px;
    }

    .questionAndScore {
        height: 30%;
        display: flex;
        flex-direction: column;
    }

    .question,
    .displayAnswers,
    .answers,
    .score {
        width: 80%;
        margin-left: 10%;
        font-size: 100%;
        color: rgba(250, 250, 250, 0.9);
        background-color: rgba(0, 0, 0, 0.9);
    }

    .questionContent {
        height: 70%;
        width: 96%;
        margin-left: 2%;
        overflow-y: scroll;
        word-wrap: normal;
    }

    .score {
        margin-top: 10px;
        border: 5px solid black;
    }

    .displayScore,
    .showAnswers {
        margin-bottom: 10px;
        font-size: 20px;
        border: 5px solid rgba(0, 0, 0, 0);
        background-color: rgba(0, 0, 0, 0);
    }

    .category {
        width: 30%;
        margin-bottom: 10px;
    }

    .level,
    .newQuestion {
        margin-bottom: 10px;
    }

    .buttonA,
    .buttonB,
    .buttonC,
    .buttonD {
        width: 80%;
        margin-left: 10%;
        position: relative;
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
        overflow: hidden;
        cursor: pointer;
        text-decoration: none;
        text-align: center;
        font-size: 20px;
        color: #FFFFFF;
        background-color: rgba(0, 0, 0, 0);
        border: 3px solid rgba(250, 250, 250, 0.9);
    }

    .buttonA:after, 
    .buttonB:after, 
    .buttonC:after, 
    .buttonD:after {
        content: "";
        display: block;
        position: absolute;
        padding-top: 300%;
        padding-left: 350%;
        margin-left: -20px!important;
        margin-top: -120%;
        opacity: 0;
        transition: all 0.8s;
        background: rgba(204, 204, 204, 0.8);
    }

    .buttonA:active:after, 
    .buttonB:active:after, 
    .buttonC:active:after, 
    .buttonD:active:after {
        padding: 0;
        margin: 0;
        opacity: 1;
        transition: 0s;
    }

    .buttonA:hover,
    .buttonB:hover,
    .buttonC:hover,
    .buttonD:hover {
        cursor: pointer;
        border-radius: 15px;
        color: black;
        background-color:rgba(204, 204, 204, 0.9);
    }
}

